################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kicad/DiseqController-backups
/Kicad/jlcpcb
/Nanoframework/.vs
/Nanoframework/DiseqC/bin
/Nanoframework/DiseqC/obj
/Nanoframework/packages
/.vs
